/*Simple reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    /*You can use any kind of background here.*/
    background: #6b92b9;
}

canvas {
    display: block;
    position: absolute;
    z-index: 0;
}

