<section class="search">
  <div class="container">
    <div class="search-wrap">
      <input
        class="search-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder=""
      />
      <svg class="search-input-svg" width="18" height="24">
        <use href="/src/svg/srite.svg#search_icon"></use>
      </svg>
    </div>
  </div>
</section>

<!-- ________________weatherNow________________ -->
<section class="weather">
  <div class="container">
    <div class="weathernow">
      <p class="weathernow-city">City</p>
      <div class="weathernow-date">
        <p class="weathernow-day">Sunday</p>
        <p class="weathernow-month">Nov 14</p>
      </div>
      <picture>
        <img
          class="sunny_icon"
          srcset="/src/svg/sunny_icon-1x.png 1x, /src/svg/sunny_icon2x.png 2x"
          src="/src/svg/sunny_icon-1x.png"
          alt="sunny_icon"
          width="228"
          height="238"
        />
      </picture>
      <div class="weathernow-descriptions">
        <p class="weathernow-temp">13&#xb0;C</p>
        <p class="weathernow-sky">Clear</p>
        <div class="weathernow-line"></div>
      </div>

      <!-- _____________weatherByTime____ -->
      <div class="by-timeweather">
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
      </div>
    </div>
  </div>
</section>
