<section class="search">
  <div class="container">
    <div class="search-wrap">
      <input
        class="search-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder=""
      />
      <svg class="search-input-svg" width="18" height="24">
        <use href="/src/svg/srite.svg#search_icon"></use>
      </svg>
    </div>
  </div>
</section>

<!-- ________________weatherNow________________ -->
<section class="weather">
  <div class="container">
    <div class="weathernow">
      <p class="weathernow-city">City</p>
      <div class="weathernow-date">
        <p class="weathernow-day">Sunday</p>
        <p class="weathernow-month">Nov 14</p>
      </div>
      <img
        class="sunny_icon"
        src="/src/svg/synnypng.png"
        alt="sunny_icon"
        width="150"
        height="150"
      />
      <div class="weathernow-descriptions">
        <p class="weathernow-temp">13&#xb0;C</p>
        <p class="weathernow-sky">Clear</p>
      </div>
      <!-- _____________weatherByTime____ -->
      <div class="by-timeweather">
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <img
            class="by-time_icon"
            src="/src/svg/night_clouds_small.svg"
            alt="night clouds"
            width="60"
            height="60"
          />
        </div>
      </div>
    </div>
  </div>
</section>
