<section class="search">
      <canvas class="snow is-hidden" id="canvas"></canvas>
  <div class="container">
    <div class="search-wrap">
      <form class="search-form" id="search-form">
        <input
          class="search-input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder=""
        />
        <svg class="search-input-svg" width="18" height="24">
          <use href="/src/svg/srite.svg#geo_icon"></use>
        </svg>

        <button class="btnsearch" type="submit">
          <svg class="icon-search" width="24" height="24">
            <use href="/src/svg/srite.svg#icon-search"></use>
          </svg>
        </button>
        <div class="weathernow notify is-hidden">
          <p class="weathernow-city">Not found</p>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- ________________weatherNow________________ -->
<section class="weather blur js-blur">
  <div class="container">
    <div class="weathernow weathernowbg">
      <p class="weathernow-city js-weathernow-city"></p>
      <div class="weathernow-date">
        <p class="weathernow-day js-dayOfWeek"></p>
        <p class="weathernow-month js-monthAndDate"></p>
      </div>
      <picture>
        <img
          class="sunny_icon"
          srcset="/src/svg/01d-1x.png 1x, /src/svg/01n-1x.png 2x"
          src="/src/svg/01d-1x.png"
          alt="sunny_icon"
          width="228"
          height="238"
        />
      </picture>
      <div class="weathernow-descriptions">
        <p class="weathernow-temp">13&#xb0;C</p>
        <p class="weathernow-sky">Clear</p>
        <div class="weathernow-line"></div>
      </div>

      <!-- _____________weatherByTime____ -->
      <div class="by-timeweather">
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
        <div class="by-time by-time-first">
          <p class="by-time_hours">00:00</p>
          <picture>
            <img
              class="by-time_icon"
              srcset="
                /src/svg/night_clouds_small@1x.png 1x,
                /src/svg/night_clouds_small@2x.png 2x
              "
              src="/src/svg/night_clouds_small.png"
              alt="night clouds"
              width="60"
              height="60"
            />
          </picture>
          <p class="by-time_temp">13&#xb0;</p>
        </div>
      </div>
      <div class="weathernow-line weathernow-line__bottom"></div>
      <div class="weather-datablock">
        <div class="weather-data weather-data-wind">
          <p class="weather-data__name">Wind</p>
          <p class="weather-data__value">
            <span class="weather-data__metric js-windValueNow">1</span> mps
          </p>
        </div>
        <div class="weather-data weather-data-wind">
          <p class="weather-data__name">Humidity</p>
          <p class="weather-data__value">
            <span class="weather-data__metric js-humidityValueNow">82</span> %
          </p>
        </div>
        <!-- <div class="weather-data weather-data-wind">
          <p class="weather-data__name">Visibility</p>
          <p class="weather-data__value">
            <span class="weather-data__metric">1,4</span> km
          </p>
        </div> -->
        <div class="weather-data weather-data-wind">
          <p class="weather-data__name">Pressure</p>
          <p class="weather-data__value">
            <span class="weather-data__metric js-pressureValueNow">718</span>
            mmHg
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- _________________________weather week_____________________ -->
<section class="weather week is-hidden">
  <div class="container">
    <div class="weather-week weather-week-wrap">
      <button class="weather-week-square is-active" data-calendar-data="">
        <p class="weather-week-weekday js-tomorrow-day">Sun</p>
        <p class="weather-week-weekdate">17 October</p>
        <div class="weather-week-img">
          <picture>
            <img
              class="by-time_icon js-week-icon"
              srcset="
                /src/svg/cloud_min-1x.png 1x,
                /src/svg/cloud_min-2x.png 2x
              "
              src="/src/svg/cloud_min-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>

          <div class="weather-week-temp">
            <p class="weather-week__value js-week-value-min">+12&#xb0;C</p>
            <p class="weather-week__value js-week-value-max">+22&#xb0;C</p>
          </div>
        </div>
      </button>
      <button class="weather-week-square" data-calendar-data="">
        <p class="weather-week-weekday">Sun</p>
        <p class="weather-week-weekdate">17 October</p>
        <div class="weather-week-img">
          <picture>
            <img
              class="by-time_icon js-week-icon"
              srcset="
                /src/svg/cloud_min-1x.png 1x,
                /src/svg/cloud_min-2x.png 2x
              "
              src="/src/svg/cloud_min-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>

          <div class="weather-week-temp">
            <p class="weather-week__value js-week-value-min">+12&#xb0;C</p>
            <p class="weather-week__value js-week-value-max">+22&#xb0;C</p>
          </div>
        </div>
      </button>
      <button class="weather-week-square" data-calendar-data="">
        <p class="weather-week-weekday">Sun</p>
        <p class="weather-week-weekdate">17 October</p>
        <div class="weather-week-img">
          <picture>
            <img
              class="by-time_icon js-week-icon"
              srcset="
                /src/svg/cloud_min-1x.png 1x,
                /src/svg/cloud_min-2x.png 2x
              "
              src="/src/svg/cloud_min-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>

          <div class="weather-week-temp">
            <p class="weather-week__value js-week-value-min">+12&#xb0;C</p>
            <p class="weather-week__value js-week-value-max">+22&#xb0;C</p>
          </div>
        </div>
      </button>
      <button class="weather-week-square" data-calendar-data="">
        <p class="weather-week-weekday">Sun</p>
        <p class="weather-week-weekdate">17 October</p>
        <div class="weather-week-img">
          <picture>
            <img
              class="by-time_icon js-week-icon"
              srcset="
                /src/svg/cloud_min-1x.png 1x,
                /src/svg/cloud_min-2x.png 2x
              "
              src="/src/svg/cloud_min-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>

          <div class="weather-week-temp">
            <p class="weather-week__value js-week-value-min">+12&#xb0;C</p>
            <p class="weather-week__value js-week-value-max">+22&#xb0;C</p>
          </div>
        </div>
      </button>
    </div>
  </div>
</section>
<!-- _________________________weather per day_____________________ -->
<section class="wper-day is-hidden">
  <div class="container">
    <ul class="wper-day-list">
      <li class="wper-day-item">
        <div class="wper-day-wrap">
          <p class="wper-day-item__time">Night</p>
          <picture>
            <img
              class="by-time_icon js-icon-night" 
              srcset="
                /src/svg/wper-day-night-1x.png 1x,
                /src/svg/wper-day-night-1x.png 2x
              "
              src="/src/svg/wper-day-night-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>
          <p class="wper-day-item__temp">+12℃</p>
          <p class="wper-day-item__feels">Feels like</p>
          <p class="wper-day-item__feelstemp">+22℃</p>
        </div>
        <div class="wperday-data wperday-data__mps">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-wind"></use>
          </svg>
          <p class="wper-day-item__datamps">1 mps</p>
        </div>
        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-liquid"></use>
          </svg>
          <p class="wper-day-item__datahumid">82 %</p>
        </div>

        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-temp"></use>
          </svg>
          <p class="wper-day-item__datapressure">718 mm</p>
        </div>
      </li>
      <li class="wper-day-item">
        <div class="wper-day-wrap">
          <p class="wper-day-item__time">Morning</p>
          <picture>
            <img
              class="by-time_icon js-icon-morning"
              srcset="
                /src/svg/wper-day-night-1x.png 1x,
                /src/svg/wper-day-night-1x.png 2x
              "
              src="/src/svg/wper-day-night-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>
          <p class="wper-day-item__temp js-morning-data-temp">+12℃</p>
          <p class="wper-day-item__feels">Feels like</p>
          <p class="wper-day-item__feelstemp js-morning-data-feels">+22℃</p>
        </div>
        <div class="wperday-data wperday-data__mps">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-wind"></use>
          </svg>
          <p class="wper-day-item__datamps js-morning-data-mps">1 mps</p>
        </div>
        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-liquid"></use>
          </svg>
          <p class="wper-day-item__datahumid js-morning-data-hummid">82 %</p>
        </div>

        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-temp"></use>
          </svg>
          <p class="wper-day-item__datapressure js-morning-data-pressure">
            718 mm
          </p>
        </div>
      </li>
      <li class="wper-day-item">
        <div class="wper-day-wrap">
          <p class="wper-day-item__time">Day</p>
          <picture>
            <img
              class="by-time_icon js-icon-day"
              srcset="
                /src/svg/wper-day-night-1x.png 1x,
                /src/svg/wper-day-night-1x.png 2x
              "
              src="/src/svg/wper-day-night-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>
          <p class="wper-day-item__temp js-day-data-temp">+12℃</p>
          <p class="wper-day-item__feels">Feels like</p>
          <p class="wper-day-item__feelstemp js-day-data-feels">+22℃</p>
        </div>
        <div class="wperday-data wperday-data__mps">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-wind"></use>
          </svg>
          <p class="wper-day-item__datamps js-day-data-mps">1 mps</p>
        </div>
        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-liquid"></use>
          </svg>
          <p class="wper-day-item__datahumid js-day-data-hummid">82 %</p>
        </div>

        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-temp"></use>
          </svg>
          <p class="wper-day-item__datapressure js-day-data-pressure">718 mm</p>
        </div>
      </li>
      <li class="wper-day-item">
        <div class="wper-day-wrap">
          <p class="wper-day-item__time">Evening</p>
          <picture>
            <img
              class="by-time_icon js-icon-evening"
              srcset="
                /src/svg/wper-day-night-1x.png 1x,
                /src/svg/wper-day-night-1x.png 2x
              "
              src="/src/svg/wper-day-night-1x.png"
              alt="weather icon"
              width="40"
              height="40"
            />
          </picture>
          <p class="wper-day-item__temp js-evening-data-temp">+12℃</p>
          <p class="wper-day-item__feels">Feels like</p>
          <p class="wper-day-item__feelstemp js-evening-data-feels">+22℃</p>
        </div>
        <div class="wperday-data wperday-data__mps">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-wind"></use>
          </svg>
          <p class="wper-day-item__datamps js-evening-data-mps">1 mps</p>
        </div>
        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-liquid"></use>
          </svg>
          <p class="wper-day-item__datahumid js-evening-data-hummid">82 %</p>
        </div>

        <div class="wperday-data wperday-data__pressure">
          <svg class="wper-day-svg" width="15" height="15">
            <use href="/src/svg/srite.svg#icon-temp"></use>
          </svg>
          <p class="wper-day-item__datapressure js-evening-data-pressure">
            718 mm
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="loader is-hidden"></div>
